<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>美妙清单</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <!-- 点击x删除列表内的该项
    点击添加或按enter添加清单列表 
        双击修改列表单项
-->
    <div id="app">
        <h1>美妙清单</h1>
        {{current}}
        <input type="text" v-model="current" @keyup.enter="addItem" />
        <button @click="addItem">添加</button>
        <ul>
            <li v-for="(item,index) in list">
                <!-- 双击span时显示当前的文本框 beItem=item -->
            <!-- 当item不等于beItem时显示文字 -->
            <span @dblclick="dblHd(item)" v-if="item!=beItem">{{item}}</span>
           <!-- 当item等于beItem时显示文本框 -->
            <input type="text" v-model="beItem" v-if="item===beItem">
            <button @click="deleteItem(index)">x</button>
            </li>
        </ul>
    </div>

    <script>
        new Vue({
            el:"#app",
            data:{
                list:['vue','react','angular'],
                current:'',
                beItem:'',
            },
            methods: {
                deleteItem(index){
                    this.list.splice(index,1)
                    //splice(从第几个，删除几个)
                },
                addItem(){
                    this.list.unshift(this.current);
                    this.current='';
                },
                // 双击
                dblHd(item){
                    // console.log(item);
                    this.beItem=item;
                }
            },
        })
    </script>
</body>
</html>